@charset "utf-8";
/* CSS Document */

.contentContainer{ width:960px; background: #f6f6f6; padding:0 10px 10px; margin:0 auto;}
.contentPart{ width:972px; margin:0 auto; }
.contentPart .left{ float:left; width:708px;}
.contentPart .left .region-content{width:100%} /*Added By Dicky 2012-03-14 12:15:37*/
.contentPart .right{ float:right; width:257px;}